<html>
<head>
<title>CVs</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
  <table valign='TOP' align='CENTER' border=0 cellpadding=3 cellspacing=0 width='481'>
    <tr>
      <td width='475' align='LEFT'>
        &nbsp;<div align="center"><font face="Courier New, Courier, mono"><font color="#FFFF00" size="+3"><b><font color="#000099" face="Times New Roman, Times, serif">CURICULLAM 
          VITAE</font></b></font></font> </div>
        <div align="center"><font color="#008000"><b>###CategoryHeading###</b></font></div>
      </td>
  </table>




        <div align="center">
          <center>



	<!--###Template Start ###-->

        <table  border=2 cellspacing=0 cellpadding=3 bordercolor="#FFFFFF" style="border-collapse: collapse">
          <tr bgcolor="#000000"> 
         <td height="27"  align='LEFT' valign='TOP' width="130"><font color="#FFFF00"><b><font size="2" face="Times New Roman, Times, serif">Registration 
              number</font></b><br>
              </font></td>
            <td width='302' align='LEFT' valign='TOP'><p><font color="#FFFF00">
            &nbsp;##RegNo###</font></p>
              </td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF" size="2"><b>Name</b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">&nbsp;###Name###</font></td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF" size="2"><b>Father 
              Name</b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">&nbsp;Tahir Siddiqui</font></td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><b><font color="#FFFFFF" size="2" face="Times New Roman, Times, serif"><strong>Marital 
              Status</strong></font></b></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">&nbsp;xxMaritalStatusxx</font></td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><b><font color="#FFFFFF" size="2" face="Times New Roman, Times, serif"> 
              Date of Brith </font></b></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            26-Sep-02</font></td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><b><font color="#FFFFFF" size="2" face="Times New Roman, Times, serif">Gender</font></b></td>
            <td width='302' align='LEFT' valign='TOP'><font color="#FFFFFF">
            Male</font></td>
          </tr>
          <tr bgcolor="#999999"> 
            <td width='130' align='LEFT' valign='TOP' height="19"><b><font color="#FFFFFF" size="2" face="Times New Roman, Times, serif"><strong>City</strong></font></b></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Peshawar</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif"><strong>Prefferd 
              Job Title</strong></font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Global Teaser</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif"><strong>Current 
              Status</strong></font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Destroying Frontier Soft</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif"><strong>Academic 
              Record</strong></font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Done MSc. From EPISTIIMCS</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif"><strong>Computer 
              Literarcy</strong> </font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            ###Computer Litrecy###</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif"><strong>Experince</strong> 
              </font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            1 million computers destroyed</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><b>
            <font face="Times New Roman, Times, serif" size="2" color="#FFFF00">
            Languages</font></b></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Hindku , Dheechoon Dheechoon</font></td>
          </tr>
          <tr bgcolor='#000000'> 
            <td width='130' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF"><b><font color="#FFFF00" size="2" face="Times New Roman, Times, serif">Comments 
              </font></b></font></td>
            <td width='302' align='LEFT' valign='TOP' height="19"><font color="#FFFFFF">
            Khoota</font></td>
          </tr>
          	<!--###Add Start ###-->
          <tr>
          	<td width='430' colspan='2'>
          	<!--###Add Type Start ###-->
	<!-###FlashTemplateStart###->
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="430" height="120">
        <param name="movie" value="acc.swf">
        <param name="quality" value="high">
        <embed src="acc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="598" height="120"></embed></object>
		<!-###FlashTemplateEnd###->
		<!-###ImageTemplateStart###->
		<img src="pic.gif" width="400" height="120">
		<!-###ImageTemplateEnd###->
          	<!--###Add Type End ###-->


          	</td>
          </tr>
          <!--###Add End ###-->
        </table>

  
	<!--###Template End ###-->
          </center>
  </div>


<!-###NavigationStart###->
<table width="610" border="1" >
<tr>
	<td>
	These are Enumirated Numbers
	</td>
</tr>
<tr>
<td>
<!-###EnablePreviousStart####->
<a href="###PreviousHREF###">Previous</a>
<!-###EnablePreviousEnd####->

<!-###DisablePreviousStart###->
<i>NO previous </i>->
<!-###DisablePreviousEnd####->


<!-###EnumiratedStart###->

<!-###EnumiratedNumberStart###->
<a href="###EnumiratedFile###">--###EnumiratedNumber###---</a>
<!-###EnumiratedNumberEnd###->
<!-###EnumiratedCurrentStart###->
<b><a href="###EnumiratedFile###">--###EnumiratedNumber###---</a></b>
<!-###EnumiratedCurrentEnd###->
 End of List
<!-###EnumiratedEnd###->

<!-###EnableNextStart####->
<a href="###NextHREF###">Next</a>
<!-###EnableNextEnd####->

<!-###DisableNextStart####->
<i> No Next </i>
<!-###DisableNextEnd####->
</td>
</tr>
</table>
<!-###NavigationEnd###->
</body></html>