<html>
<head>
<title>Tender</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<!--###TemplateStart###->



<table width="720" border="1">
  <tr bgcolor="#ECECD9"> 
    <td bgcolor="#ECECD9" width="200" height="24"> 
      <div align="center"><b><font color="#993300">###Capacity###</font></b></div>
    </td>
    <td bgcolor="#ECECD9" width="150" height="24"> 
      <div align="center"><b><font color="#993300">###RPM###</font></b></div>
    </td>
    <td bgcolor="#ECECD9" width="150" height="24"> 
      <div align="center"><b><font color="#993300">###Company###</font></b></div>
    </td>
    <td bgcolor="#ECECD9" width="150" height="24"> 
      <div align="center"><b><font color="#993300">###Advertised On###</font></b></div>
    </td>
  </tr>
  <tr bgcolor="#F8F8F1"> 
    <td colspan="6" height="30"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2">###Details###</font></td>
  </tr>
  <!-###AddStart###->
  <tr bgcolor="#FFFFFF"> 
    <td   colspan="5"> 
      <!-##AddTypeStart###->
      <!-###FlashTemplateStart###->
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="710"height="120">
        <param name="movie" value="acc.swf">
        <param name="quality" value="high">
        <embed src="acc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="598" height="120">
        </embed></object> 
      <!-###FlashTemplateEnd###->
      <!-###ImageTemplateStart###->
      <img src="pic.gif" width="710" height="120"> 
      <!-###ImageTemplateEnd###->
      <!-###AddTypeEnd###->
    </td>
  </tr>
  <!-###AddEnd###->
</table>

<!-###TemplateEnd###>

<!-###NavigationStart###>
<table width="610" border="1" >
<tr>
	<td>
	These are Enumirated Numbers
	</td>
</tr>
<tr>
<td>
<!-###EnablePreviousStart####->
<a href="###PreviousHREF###">Previous</a>
<!-###EnablePreviousEnd####->

<!-###DisablePreviousStart###->
<i>NO previous </i>
<!-###DisablePreviousEnd####->


<!-###EnumiratedStart###->
Here is list 
<!-###EnumiratedNumberStart###->
<a href="###EnumiratedFile###">--###EnumiratedNumber###---</a>
<!-###EnumiratedNumberEnd###->

<!-###EnumiratedCurrentStart###->
<b><a href="###EnumiratedFile###">--###EnumiratedNumber###---</a></b>
<!-###EnumiratedCurrentEnd###->
 End of List
<!-###EnumiratedEnd###->

<!-###EnableNextStart####->
<a href="###NextHREF###">Next</a>
<!-###EnableNextEnd####->

<!-###DisableNextStart####->
<i> No Next </i>
<!-###DisableNextEnd####->
</td>
</tr>
</table>
<!-###NavigationEnd###->

</body>
</html>