<html>
<head>
<base href="D:\fsoft\AliNawaz\sarhadpeshawar\sarhad\">
<title>Sarhadads.com --> Offices on Rent</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="menu/menu1.css">

</head>

<body bgcolor="ECECD9" text="#000000" topmargin="0">
<p>&nbsp;</p>
<table style="border-collapse: collapse" bordercolor="#111111" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan=2 height="83">
    <img src="top/top.gif" width="760" height="80" usemap="#Map" border="0">
</td>
   
  </tr>
  <tr>
    <td valign="top" width="100"><br><BR>
    <script src='menu/emenu.js'></script></td>
<td>

<!--###TemplateStart###->



<table width="660" border="1">
  <tr bgcolor="#ECECD9">
    <td bgcolor="#ECECD9" width="137" height="22">
      <div align="center"><b><font color="#993300">###Area###</font></b></div>
    </td>

     <td bgcolor="#ECECD9" width="137" height="22">
      <div align="center"><b><font color="#993300">###Location###</font></b></div>
    </td>

     <td bgcolor="#ECECD9" width="137" height="22">
      <div align="center"><b><font color="#993300">###Rent###</font></b></div>
    </td>
     <td bgcolor="#ECECD9" width="137" height="22">
      <div align="center"><b><font color="#993300">###Advance###</font></b></div>
    </td>
    <td bgcolor="#ECECD9" width="165" height="22"> 
      <div align="center"><font color="#993300"><b>###Advertise###</b></font></div>
    </td>
  </tr>
  <tr bgcolor="#F8F8F1"> 
    <td colspan="5" height="30"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2">###Details###</font></td>
  </tr>
  <!-###AddStart###->
  <tr bgcolor="#FFFFFF"> 
    <td   colspan="5"> 
      <!-##AddTypeStart###->
      <!-###FlashTemplateStart###->
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="610" height="120">
        <param name="movie" value="acc.swf">
        <param name="quality" value="high">
        <embed src="acc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="598" height="120">
        </embed> 
      </object> 
      <!-###FlashTemplateEnd###->
      <!-###ImageTemplateStart###->
      <img src="pic.gif" width="660" height="120"> 
      <!-###ImageTemplateEnd###->
      <!-###AddTypeEnd###->
    </td>
  </tr>
  <!-###AddEnd###->
</table>

<!-###TemplateEnd###>

<!-###NavigationStart###>
<table width="660" border="1" >
<tr>
	<td>
	These are Enumirated Numbers
	</td>
</tr>
<tr>
<td>
<!-###EnablePreviousStart####->
<a href="###PreviousHREF###">Previous</a>
<!-###EnablePreviousEnd####->

<!-###DisablePreviousStart###->
<i>NO previous </i>
<!-###DisablePreviousEnd####->


<!-###EnumiratedStart###->
Here is list 
<!-###EnumiratedNumberStart###->
<a href="###EnumiratedFile###">--###EnumiratedNumber###---</a>
<!-###EnumiratedNumberEnd###->

<!-###EnumiratedCurrentStart###->
<b><a href="###EnumiratedFile###">--###EnumiratedNumber###---</a></b>
<!-###EnumiratedCurrentEnd###->
 End of List
<!-###EnumiratedEnd###->

<!-###EnableNextStart####->
<a href="###NextHREF###">Next</a>
<!-###EnableNextEnd####->

<!-###DisableNextStart####->
<i> No Next </i>
<!-###DisableNextEnd####->
</td>
</tr>
</table>
<!-###NavigationEnd###->


</td>
    </tr>
</table>
<map name="Map"> 
  <area shape="rect" coords="396,64,540,79" href="../../sarhadadd/sarhad1/8/sarhadadd/sarhad1/8/files/Templates/software.htm" target="_parent">
  <area shape="rect" coords="544,64,622,76" href="../../sarhadadd/sarhad1/8/sarhadadd/sarhad1/8/files/Templates/webhosting.htm" target="_parent">
  <area shape="rect" coords="628,65,744,78" href="../../sarhadadd/sarhad1/8/sarhadadd/sarhad1/8/files/Templates/webdevelopment.htm" target="_parent">
  <area shape="rect" coords="182,4,236,24" href="../../sarhadadd/sarhad1/8/sarhadadd/sarhad1/8/files/Templates/tender/govt/html/files/producedfiles/recenttender/recenttender.htm" target="_parent">
  <area shape="rect" coords="247,5,323,21" href="../../sarhadadd/sarhad1/8/sarhadadd/sarhad1/8/files/Templates/properties/houses/sale/html/recentproperties.htm" target="_parent">
</map>
</body>
</html>